<div class="main-container">
  <div class="image-row">
    <img class="avatar-image" src="/yigit-akdemir-photo.JPG" alt="Profile photo of Yigit Akdemir">
  </div>
  
  <div class="name-row">
    Yigit Akdemir
  </div>
  
  <div class="social-icons-row">
    <a href="https://www.linkedin.com/in/yigitakdemir/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="https://www.instagram.com/yi.akdemir/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/akdemir.yigit/" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="https://github.com/yigitakdemir/" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>


  <div class="links-row">
    <% @list_of_items.each do |the_item| %>
      <div class="item">
        <img src="<%= the_item.thumbnail_url %>" class="thumbnail">
        <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
          <%= the_item.link_description %>
        </a>
      </div>
    <% end %>
  </div>
  <!-- links-row -->
</div>
<!-- main-container -->
